In [59]:
from pathlib import Path
import pandas as pd
import os
from datetime import datetime, timedelta
import random
from functools import reduce

# Declaring the path

In [20]:
Base_dir = Path.cwd()
file_name = "expenses.csv"
file_path = Base_dir/file_name

# columns of the csv file

In [ ]:
columns = [
    "expense_id",
    "date",
    "title",
    "category",
    "amount",
    "payment_mode",
    "notes"
]

# Checking if the file exists or not

In [15]:
if not os.path.exists(file_path):
    df = pd.DataFrame(columns=columns)
    df.to_csv(file_path, index = False)
    print("csv file created successfully!!!")
else:
    print("csv file already exists!!!")

csv file already exists!!!

# Inserting the data

In [17]:
categories = ["Food", "Travel", "Rent", "Shopping", "Bills", "Entertainment", "Health"]

payment_modes = ["Cash", "UPI", "Card"]

titles = {
    "Food": ["Lunch", "Dinner", "Snacks", "Groceries"],
    "Travel": ["Bus Ticket", "Cab Ride", "Fuel"],
    "Rent": ["House Rent"],
    "Shopping": ["Clothes", "Shoes", "Accessories"],
    "Bills": ["Electricity Bill", "Water Bill", "Internet Bill"],
    "Entertainment": ["Movie", "OTT Subscription"],
    "Health": ["Medicine", "Doctor Visit"]
}

start_date = datetime(2025, 10, 1)

data = []

In [18]:
for i in range(1, 101):
    category = random.choice(categories)
    title = random.choice(titles[category])
    amount = random.randint(50, 5000)
    payment = random.choice(payment_modes)
    date = start_date + timedelta(days=random.randint(0, 90))

    data.append([
        i,
        date.strftime("%Y-%m-%d"),
        title,
        category,
        amount,
        payment,
        ""
    ])

In [22]:
df = pd.DataFrame(data, columns=[
    "expense_id",
    "date",
    "title",
    "category",
    "amount",
    "payment_mode",
    "notes"
])

# Save CSV
df.to_csv(file_path, index=False)

print("Data Inserted to the csv file")

Data Inserted to the csv file

# Delete a csv file

In [21]:
if os.path.exists(file_path) and os.path.isfile(file_name):
    os.remove(file_name)
    print("File Deleted successfully!!!")

File Deleted successfully!!!

# Read data from csv

In [24]:
df = pd.read_csv(file_path)
print(df.head())

   expense_id        date             title       category  amount  \
0           1  2025-12-02        House Rent           Rent    4933
1           2  2025-10-01       Accessories       Shopping    4867
2           3  2025-10-16  OTT Subscription  Entertainment    3666
3           4  2025-11-06             Shoes       Shopping    4945
4           5  2025-11-26          Cab Ride         Travel    2599

  payment_mode  notes
0          UPI    NaN
1         Cash    NaN
2         Card    NaN
3         Cash    NaN
4         Card    NaN

# Operations on the csv file using map, filter, reduce

In [31]:
# Insert a column named tax by 5%
# print(df["amount"].sum())

df["tax"] = list(map(lambda x:x*0.05, df["amount"]))
print(df.head())

   expense_id        date             title       category   amount  \
0           1  2025-12-02        House Rent           Rent  7103.52
1           2  2025-10-01       Accessories       Shopping  7008.48
2           3  2025-10-16  OTT Subscription  Entertainment  5279.04
3           4  2025-11-06             Shoes       Shopping  7120.80
4           5  2025-11-26          Cab Ride         Travel  3742.56

  payment_mode  notes      tax
0          UPI    NaN  355.176
1         Cash    NaN  350.424
2         Card    NaN  263.952
3         Cash    NaN  356.040
4         Card    NaN  187.128

In [30]:
# Increase all the expense amounts by 20%
df["amount"] = list(map(lambda x:x+x*0.2, df["amount"]))

print(df.head())

   expense_id        date             title       category   amount  \
0           1  2025-12-02        House Rent           Rent  7103.52
1           2  2025-10-01       Accessories       Shopping  7008.48
2           3  2025-10-16  OTT Subscription  Entertainment  5279.04
3           4  2025-11-06             Shoes       Shopping  7120.80
4           5  2025-11-26          Cab Ride         Travel  3742.56

  payment_mode  notes     tax
0          UPI    NaN  246.65
1         Cash    NaN  243.35
2         Card    NaN  183.30
3         Cash    NaN  247.25
4         Card    NaN  129.95

In [32]:
# Convert currency (INR â†’ USD)
df["us_amount"] = list(map(lambda x:x*0.011, df["amount"]))
print(df.head())

   expense_id        date             title       category   amount  \
0           1  2025-12-02        House Rent           Rent  7103.52
1           2  2025-10-01       Accessories       Shopping  7008.48
2           3  2025-10-16  OTT Subscription  Entertainment  5279.04
3           4  2025-11-06             Shoes       Shopping  7120.80
4           5  2025-11-26          Cab Ride         Travel  3742.56

  payment_mode  notes      tax  us_amount
0          UPI    NaN  355.176   78.13872
1         Cash    NaN  350.424   77.09328
2         Card    NaN  263.952   58.06944
3         Cash    NaN  356.040   78.32880
4         Card    NaN  187.128   41.16816

In [44]:
# Extract only amount and dates
print("Extracting only amounts")
print(list(map(lambda x:x, df["amount"].head())))
print("Extracting only dates")
print(list(map(lambda x:x, df["date"].tail())))

Extracting only amounts
[7103.52, 7008.48, 5279.04, 7120.8, 3742.5600000000004]
Extracting only dates
['2025-10-15', '2025-10-01', '2025-10-12', '2025-12-19', '2025-12-09']

In [51]:
print(list(df["amount"]))

[7103.52, 7008.48, 5279.04, 7120.8, 3742.5600000000004, 3016.8, 5012.639999999999, 5535.360000000001, 1810.0800000000002, 6032.16, 4160.16, 3267.36, 6307.2, 2616.48, 2776.3199999999997, 6598.08, 2580.48, 3720.96, 3902.4, 534.24, 303.84, 1703.52, 5084.639999999999, 6494.4, 1802.88, 5869.44, 2469.6, 4026.24, 3558.24, 1860.48, 6347.52, 2085.12, 4086.72, 6930.72, 6130.08, 577.44, 1016.6400000000001, 6079.679999999999, 2869.92, 1025.28, 3369.6, 6912.0, 4595.04, 2478.24, 6135.84, 5045.76, 4223.52, 5974.56, 2340.0, 5905.44, 5002.56, 1622.88, 3435.8399999999997, 4275.360000000001, 3808.8, 6305.76, 3768.48, 5322.24, 6613.92, 6068.16, 3807.36, 4612.32, 7079.04, 894.24, 6588.0, 4397.76, 5202.72, 4095.36, 6135.84, 3028.3199999999997, 5076.0, 6082.56, 927.3599999999999, 878.4, 4446.72, 3996.0, 6904.8, 1810.0800000000002, 3674.88, 2158.56, 2471.04, 2586.24, 4796.639999999999, 1807.2, 773.28, 973.44, 1752.48, 6086.879999999999, 5014.08, 2005.9199999999998, 1673.2800000000002, 3925.4399999999996, 495.36, 105.11999999999999, 1288.8, 4985.28, 2036.1599999999999, 430.56, 6821.28, 5925.6]

In [54]:
# filter the expenses greater than 7000
filtered_data = dict(
    filter(
        lambda x: x[1] > 7000,
        zip(df["category"], df["amount"])
    )
)

print(filtered_data)

{'Rent': 7103.52, 'Shopping': 7120.8, 'Health': 7079.04}

In [62]:
from functools import reduce

expenses = [200, 1500, 3000, 400]

total_spent = reduce(lambda a, b: a + b, expenses)
print(total_spent)

5100

In [64]:
total_expenses = reduce(lambda a,b: a+b, df["amount"].head())
print(total_expenses)

30254.4

In [68]:
# total_expenses_per_category = dict(
#     reduce(
#         lambda x[1]:x[1]
#         zip(df["category"], df["amount"])
#     )
# )

def total_expenses_per_category():
    return df.groupby("category")["amount"].sum().to_dict()

print(total_expenses_per_category())

{'Bills': 35786.88, 'Entertainment': 69469.92, 'Food': 50065.92, 'Health': 54972.0, 'Rent': 69621.12, 'Shopping': 65498.4, 'Travel': 43987.68}

In [57]:
df.iloc[0]        # by index
# df.loc[0]         # by label

expense_id               1
date            2025-12-02
title           House Rent
category              Rent
amount             7103.52
payment_mode           UPI
notes                  NaN
tax                355.176
us_amount         78.13872
Name: 0, dtype: object